.card-title{
    color: gray;
    font-size: 14px;
}

.form-group td{
    font-weight: 400;
}

.example{
    width: 100%;
    height: 100%;
    text-align: center;
    border:none;
    padding: 10px;
}

.example img{
    height: 300px;
	width: 300px;
    border:none;
	vertical-align: bottom;
	/* 追加 */
	object-fit: cover;
    margin-top: 10px;
    margin-right: 10px;
}